<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dark</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i|Open+Sans:400,400i,600,600i,700,700i"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">


    </head>


    <body>

        <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipiscing elit, feugiat phasellus fusce pulvinar fames fringilla, nulla mi felis porta aptent penatibus. Quis laoreet facilisi congue proin sociis imperdiet facilisis mus pulvinar, bibendum luctus nullam senectus ridiculus blandit porttitor diam euismod, scelerisque torquent lectus ad sed ligula posuere per. Nibh pharetra mauris metus vitae purus hendrerit porta laoreet pulvinar platea a nostra facilisis nec accumsan, bibendum neque euismod senectus nunc massa suspendisse per ullamcorper netus tincidunt dictum risus.

Mi platea odio curabitur luctus feugiat ante tortor erat eget hendrerit nisi mattis, eros pharetra potenti vel nibh sodales ullamcorper vitae inceptos faucibus. Ultrices non duis facilisi gravida curae ante habitant venenatis vitae tristique, fusce est ligula ridiculus placerat sagittis pharetra semper aliquam praesent mi, sociosqu leo natoque ad taciti ultricies nostra lacinia hendrerit. Nec cum metus facilisis feugiat suscipit dictumst sollicitudin luctus habitant, libero montes purus eros fermentum dapibus fringilla posuere nostra, hendrerit venenatis massa conubia eget ultrices sem ullamcorper.</p>
    </body>

    </html>